@{
    ViewBag.Title = "Home";
}

<h1>Home Page</h1>
<div class="box">
    

    
        Enviornment is @ViewBag.CurrentEnviornment
    
</div>
<environment include="development">
    <button class="blue-back">Development migrate</button>
</environment>