<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">   
    <title>Gineoage</title>
    <link href="~/StyleSheet.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <h1>Home</h1>
        <p>@ViewBag.MyKey</p>
        <p>@ViewBag.MyApiKey</p>
        <p>@ViewBag.ClientID</p>
        <p>@ViewBag.ClientSecret</p>
    </div>
</body>
</html>
