@model ListModel


<div class="list-container">
    @if (@Model.ListTitle != null) 
    {
        <h3>@Model.ListTitle</h3>
    }
    <ul class="list">


       @if(@Model.ListItems != null) 
       {
        @foreach (string item in @Model.ListItems)
        {
            <li>@item</li>    
        }
       }
        
    </ul>
</div>